<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <title>Project List</title>
</head>
<div class="container border pt-3 my-3">
  <div>
    <h3>Project List</h3>
    <div style="float: right;"><a href="/add-project/"> Add/Edit Project</a></div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Assigned Users</th>
        <th>Created</th>
        <th>Deadline</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td>{% for name in project.assigned_users.all %}{{ name|title }}, {% endfor %}</td>
          <td>{{ project.created }}</td>
          <td>{{ project.deadline }}</td>
          <td><a href="/edit-project/{{project.slug}}">Edit Project</a> |
              <a href="/add-task/">  Link Tasks</a> |
              <a href="/delete-project/{{project.slug}}">  Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>


</html>